.block {
    flex-basis: calc(100% / 9);
    flex-grow: 0;
    flex-shrink: 0;
    border: 1px solid black;
    margin: 1px;
    min-height: calc(100% / 8);
}

.blockImg {
    height: 100%;
    width: 100%;
}