.block {
    flex-basis: calc(100% / 9);
    flex-grow: 0;
    flex-shrink: 0;
    border: 1px solid black;
    margin: 1px;
}

.blockImg {
    height: 100%;
    width: 100%;
}

.top {
    transform: rotate(-90deg);
}

.bottom {
    transform: rotate(90deg);
}

.left {
    transform: rotate(180deg);
}

.right {
    transform: rotate(0deg);
}

.topRight {
    transform: rotate(-45deg);
}

.bottomRight {
    transform: rotate(45deg);
}

.bottomLeft {
    transform: rotate(135deg);
}

.topLeft {
    transform: rotate(-135deg);
}
