.ratioMaintainer {
    max-width: calc(64px * 8);
    min-width: 200px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.infoArea {
    margin-top: 1em;
    color: #fff;
    text-align: center;
}

.score {
    margin-left: 0.5em;
    font-weight: 600;
    font-size: 18px;
}

.replayBtn {
    font-size: 16px;
}
