* {
  box-sizing: border-box;
}

body {
  margin: 0 8px;
  font: 16px 'Montserrat', sans-serif;
  background: linear-gradient(#1cd0e2, #0b61ff);
  min-height: 100vh;
  position: relative;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.h1 {
  color: #fff;
}
